@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.auth-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  color: black;
}

.auth-container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 40px; /* Sesuaikan dengan keinginan Anda */
  background-color: #000000; /* Warna latar belakang input */
  color: white; /* Warna teks input */
  border: 1px solid #333; /* Garis tepi input */
}

.form-group input::placeholder {
  color: #999; /* Warna teks placeholder */
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.social-buttons button {
  background-color: #000000;
  margin-top: 10px;
  color: white;
}

.social-buttons button:nth-child(2) {
  background-color: #333;
}

.social-buttons button:hover {
  background-color: #29487d;
}

.social-buttons button:nth-child(2):hover {
  background-color: #1b1b1b;
}

p {
  text-align: center;
  margin-top: 20px;
  color: black;
}
